@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap);
/* Root colors */
:root {
  --background: #c51f1f;
  --text: #ffffff;
  --heading: #333;
}
/* Reset and Common Styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 5rem;
  color: var(--heading);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
  border-bottom: 0.3rem solid var(--heading);
  text-shadow: 0.2rem 0.2rem 0.5rem var(--heading);
}
/* End of Reset and Common Styles */

/* Navbar */
.navbar {
  width: 100%;
  height: 6rem;
  background-color: var(--background);
  box-shadow: 0.2rem 0.2rem 0.5rem var(--heading);
  position: absolute;
  z-index: 5;
}

.navbar-link {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--text);
  margin: 0 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  position: relative;
  transition: color 0.2s;
}

.change.navbar-link {
  color: var(--text);
}

.navbar-link:hover {
  color: var(--text);
}

.navbar-link::before {
  content: '';
  width: 0;
  height: 0.2rem;
  background-color: var(--text);
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width 0.2s;
}

.change.navbar-link::before {
  width: 130%;
}

.navbar-link:hover::before {
  width: 130%;
}
/* End of Navbar */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background: url(images/banner.jpg) center no-repeat;
  background-size: cover;
  flex-direction: column;
}

.section-1-heading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text);
  background-color: var(--background);
  padding: 0 3rem;
  margin: 4rem auto;
  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom: 0.3rem solid var(--text);
  text-shadow: 0.2rem 0.2rem 1rem var(--heading);
  border-radius: 10px;
}

.person-img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.7rem dotted var(--background);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  opacity: 0.9;
}

.person-name {
  font-size: 2rem;
  color: #fff;
  background-color: var(--background);
  margin: 5rem 0;
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  border-bottom: 0.3rem solid var(--text);
  border-radius: 10px;
}

.section-1-btn {
  font-size: 1.7rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: 0.3rem solid #333;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border-radius: 10px;
}
/* End of Section 1 */

/* Section 2 */
.section-2 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skills--img {
  width: 80px;
  height: 80px;
  margin: 1rem;
}

.work {
  border: 1px solid var(--heading);
  margin: 1rem 0;
  max-width: 70rem;
  border-radius: 10px;
}

.work h1 {
  background-color: var(--background);
  border-radius: 10px 10px 0 0;
  margin: -1px -1px 1rem;
  color: var(--text);
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.details {
  display: flex;
  justify-content: space-between;
}

.work > h2 > span {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  text-decoration: underline;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.work > p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* End of Section 2 */

/* Section 3 */
.section-3 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-wrapper {
  width: 80%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.project:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -10rem;
  z-index: 10;
  transition: top 0.3s;
}

.project:hover .project-text {
  top: 2rem;
  transition: top 0.3s 0.3s;
}

.project-name {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.project-technologies {
  font-size: 2rem;
  font-weight: 700;
  color: var(--background);
}

.project-img {
  width: 40rem;
  transition: opacity 0.3s;
}

.project:hover .project-img {
  opacity: 0.1;
}
.project-link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.project-link-left {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid var(--background);
  padding: 0 1rem;
  background-color: #fff;
  position: absolute;
  bottom: -3.5rem;
  left: 3rem;
  transition: bottom 0.3s;
}
.project:hover .project-link-left {
  bottom: 3rem;
  left: 3rem;
  transition: bottom 0.3s 0.3s;
}
.project-link-right {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid var(--background);
  padding: 0 1rem;
  background-color: #fff;
  position: absolute;
  bottom: -3.5rem;
  right: 3rem;
  transition: bottom 0.3s;
}
.project:hover .project-link-right {
  bottom: 3rem;
  right: 3rem;
  transition: bottom 0.3s 0.3s;
}
/* End of Section 3 */

/* Section 4 */
.section-4 {
  background-color: #333;
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4-heading {
  color: #fff;
  box-shadow: none;
  border-color: #fff;
  margin-bottom: 5rem;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.blog:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.blog-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -12rem;
  z-index: 3;
  transition: top 0.3s;
}

.blog:hover .blog-text {
  top: 2rem;
  transition: top 0.3s 0.3s;
}

.blog-name {
  font-size: 2.65rem;
  font-weight: 700;
  padding: 1rem;
  color: #333;
  text-transform: capitalize;
}

.blog-img {
  width: 40rem;
  transition: opacity 0.3s;
}

.blog:hover .blog-img {
  opacity: 0.1;
}

.blog-link {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid var(--background);
  padding: 0 1rem;
  background-color: #fff;
  position: absolute;
  bottom: -5rem;
  transition: bottom 0.3s;
}
.blog:hover .blog-link {
  bottom: 3rem;
  transition: bottom 0.3s 0.3s;
}

/* End of Section 4 */

/* Section 5 */
.section-5 {
  width: 100%;
  height: 25vh;
  background-color: #222;
  flex-direction: column;
}

.social-media {
  margin-bottom: 2rem;
}

.social-media-link {
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  background-color: var(--text);
  border-radius: 50%;
  padding: 0.5rem 0.5rem 0.15rem;
}

.copyright {
  color: #aaa;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-align: center;
}
/* End of Section 5 */

/* Responsive */
@media (max-width: 1200px) {
  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 3rem 2rem;
  }

  .section-4 {
    height: 80vh;
  }
}

@media (max-width: 800px) {
  .section-1-heading {
    font-size: 4rem;
  }

  .progress-bar {
    width: 50rem;
  }
}

@media (max-width: 600px) {
  .section-1-heading {
    font-size: 3rem;
  }

  .navbar-link {
    margin: 0 2rem;
    font-size: 1.5rem;
  }

  .section-2 {
    padding: 10rem;
  }

  .section-2-heading {
    margin-bottom: 10rem;
  }

  .progress-bar {
    width: 45rem;
  }

  .project-img {
    width: 100%;
  }

  .contact-form {
    width: 40rem;
  }

  .copyright {
    width: 70%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  .section-1-heading {
    font-size: 2.5rem;
  }

  .navbar-link {
    margin: 0 1.5rem;
  }

  .section-2-heading {
    text-align: center;
  }

  .progress-bar {
    width: 40rem;
  }
}
/* End of Responsive */
